 .body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}
 .main-label {
    font-size: 24px;
    border-style: solid;
    border-width: 4px;
    font-weight: bold;
    position: relative;
    border-color: #333333;
    font-display: auto;
    padding: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(2px 2px 2px rgb(255, 255, 255));
}